table {
  width: 100%;
}
// table {
//   table-layout: fixed;
// }

.mat-mdc-table {
  background: #ffffff;
}
.mat-mdc-header-cell {
  border-bottom-color: #e2e2e2;
}

.mat-mdc-header-row {
  font-size: 14px;
  color: #777;
  background: #faf9fd;
}

.mat-mdc-row {
  height: auto;
}

.mat-mdc-cell {
  // padding: 10px;
  color: #333;
  border-top-color: #e2e2e2;
  border-bottom-color: #e2e2e2;
}

.mat-column-firstName {
  text-align: left;
}

.mat-column-emailId {
  font-style: italic;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background-color: #e0e0e0;
}

.mat-row:nth-child(even) {
  background-color: #fafafa;
}

.mat-row:nth-child(odd) {
  background-color: #f1f1f1;
}

.mat-paginator {
  background-color: #f7f7f7;
  padding: 10px;
}

.mat-paginator .mat-button {
  color: #3f51b5;
}

.mat-paginator-page-size {
  font-size: 14px;
}

.mat-mdc-paginator-range-label {
  color: #757575;
}

// .mat-mdc-row:nth-child(odd) {
//   background-color: #e3f2fd;
// }

// .mat-mdc-row:nth-child(even) {
//   background-color: #bbdefb;
// }

.material-icons-outlined {
  color: #9e9e9e;
}

// form-input styles
.small-input {
  margin-top: 6px;
  padding: 0; /* Adjust padding */
  height: 3.8rem;
}
.small-input .mat-mdc-select,
.mat-mdc-option {
  font-size: 14px !important;
}

.small-input.mat-mdc-form-field {
  width: 90%;
}

::ng-deep .small-input .mat-mdc-form-field-infix {
  padding-top: 7px !important; /* Reduce padding */
}
::ng-deep .small-input .mat-mdc-input-element {
  font-size: 14px !important; /* Smaller text */
  height: 26px !important; /* Smaller height */
  padding: 0; /* Adjust padding */
}

::ng-deep .small-input .mat-mdc-form-field {
  min-width: 100px !important; /* Control the width */
  font-size: 12px !important; /* Smaller font size for labels and inputs */
}
