<h2>Employee List</h2>
<!-- Employee Table -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let employee">{{ employee.id }}</td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let employee">
      <mat-form-field *ngIf="employee.editMode" class="small-input" appearance="fill" dense>
        <input matInput placeholder="First name" [(ngModel)]="employee.firstName">
      </mat-form-field>
      <span *ngIf="!employee.editMode">{{ employee.firstName }}</span>
    </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let employee">
      <!-- <input *ngIf="employee.editMode" [(ngModel)]="employee.lastName" matInput placeholder="Last Name" /> -->
      <mat-form-field *ngIf="employee.editMode">
        <input matInput placeholder="Last name" [(ngModel)]="employee.lastName">
      </mat-form-field>

      <span *ngIf="!employee.editMode">{{ employee.lastName }}</span>
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="emailId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let employee">
      <!-- <input *ngIf="employee.editMode" [(ngModel)]="employee.emailId" matInput placeholder="Email" /> -->

      <mat-form-field class="example-full-width" *ngIf="employee.editMode">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com" [(ngModel)]="employee.emailId">
        <mat-hint>Errors appear instantly!</mat-hint>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>


      <span *ngIf="!employee.editMode">{{ employee.emailId }}</span>
    </td>
  </ng-container>

  <!-- Gender Column -->
  <!-- Gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
    <td mat-cell *matCellDef="let employee">
      <mat-form-field *ngIf="employee.editMode">
        <mat-label>Select gender</mat-label>
        <mat-select [(ngModel)]="employee.gender">
          <mat-option *ngFor="let genderOption of genderOptions" [value]="genderOption.value">
            {{ genderOption.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="!employee.editMode">{{ employee.gender }}</span>
    </td>
  </ng-container>


  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let employee">
      <button *ngIf="!employee.editMode" mat-icon-button (click)="editEmployee(employee)">
        <span class="material-icons-outlined">edit</span>
      </button>
      <button *ngIf="employee.editMode" mat-icon-button (click)="updateEmployeeSave(employee)">
        <span class="material-icons-outlined">save</span>
      </button>
      <button *ngIf="employee.editMode" mat-icon-button (click)="cancelEditEmployee(employee)">
        <span class="material-icons-outlined">close</span>
      </button>
      <button *ngIf="!employee.editMode" mat-icon-button (click)="openDeleteDialog(employee.id, employee.firstName)">
        <span class="material-icons-outlined">delete</span>
      </button>
    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination Controls -->
<mat-paginator #paginator [length]="employees.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page" (page)="onPageChange($event)">
</mat-paginator>