<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="mobileQuery.matches">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->


<mat-toolbar>
  <span>My Application</span>
  <section>
    <div class="example-button-row">
      <a mat-flat-button href="/">Employee List</a>
      <a mat-flat-button href="/add-employee">Add Employee</a>
    </div>
  </section>
</mat-toolbar>

<router-outlet></router-outlet>