/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.success-snackbar .mat-mdc-snackbar-surface {
  background-color: #4caf50;
  color: white;
}
.mat-mdc-snack-bar-container.error-snackbar .mat-mdc-snackbar-surface {
  background-color: #f44336;
  color: white;
}
